table {
    word-break: break-all;
}
.copier {
    transition-duration: 0.2s;
}
.copier:hover {
    color: cadetblue;
    cursor: pointer;
}
.copier-float {
    position: absolute;
    right: 8px;
    top: 10px;
}
pre code.hljs {
    border-radius: 5px;
}
html, body {
    height: auto;
}
#postcards {
    width: 100%;
}
.homepage-postcard {
    border-radius: 10px;
    width: 100%;
}
#footer {
    margin-top: 30px;
    padding: 20px;
    background-color: #f8f8f8;
    width: 103%;
}
.load-more {
    text-align: center !important;
    background-color: #b4b4b4;
}
.load-more:hover {
    background-color: #868686;
    cursor: pointer;
}