svg{
    width: 100%;
    height: 100%;
}
#H{
    width: 20px;
    height: 200px;
    position: relative;
}
#HSV{
    display: flex;
}
#color-picker {
    border: solid #b4b4b4 2px;
    border-radius: 5px;
    padding: 10px;
    background-color: #d9d9d9;
}
#SV{
    width: 200px;
    margin-right: 10px;
}
#slide1{
    position: absolute;
    left: 4px;
    top: -8px;
    border: 8px solid transparent;
    border-right-color: rgba(0, 0, 0, 0.5);
    width: 0;
    height: 0;
    pointer-events: none;
}
#slide2{
    position: absolute;
    left: 30px;
    top: 90px;
    border: 8px solid rgba(0, 0, 0, 0.5);
    width: 0;
    height: 0;
    pointer-events: none;
}
#show{
    width: 300px;
    height: 100px;
}
